.version.fact_2 /* version checker */
{
	color: #0000E5;
	background-color: #5CE794;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 549px;
	border-width: 0px;
	border-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 20px;
	width: 100%;
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/colorfill1.jpg?crc=389189663") no-repeat left top;
	background-size: cover;
}

.big-butten
{
	border-width: 0px;
	border-color: #000000;
	border-radius: 20px;
	background: transparent url("../images/colorfill1.jpg?crc=389189663") no-repeat left top;
}

#pu1585
{
	z-index: 3;
	margin-right: -10000px;
	margin-top: -2px;
	width: 100%;
}

#u1585
{
	z-index: 3;
	width: 1920px;
	height: 953px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	background: transparent url("../images/3544677.jpg?crc=293358887") no-repeat center top;
	background-size: cover;
}

#u1590
{
	z-index: 4;
	width: 1920px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 160px;
	padding-bottom: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	background: transparent url("../images/colorfill1-u992-fr.png?crc=446619942") no-repeat center top;
}

#pu1753-4
{
	z-index: 25;
	width: 21.1%;
	margin-left: 29.64%;
}

#u1753-4
{
	z-index: 25;
	width: 395px;
	min-height: 49px;
	background-color: transparent;
	line-height: 49px;
	font-size: 41px;
	font-family: pt-mono, monospace;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 2.47%;
}

#u1754
{
	z-index: 29;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 8.15%;
}

.round-butten
{
	border-width: 0px;
	border-color: #000000;
	background-color: #FF6B68;
}

.round-butten::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#u1755
{
	z-index: 30;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u1754::before,#u1755::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 50%;
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.5), inset 0px 0px 4px rgba(0,0,0,0.5);
}

#pu1584-8
{
	z-index: 6;
	margin-top: 26px;
	width: 51.25%;
	margin-left: 31.25%;
}

#u1584-8
{
	z-index: 6;
	width: 809px;
	min-height: 63px;
	background-color: transparent;
	line-height: 240px;
	font-family: pt-sans-caption, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1584-3
{
	letter-spacing: -1px;
}

#u1584-2,#u1584-4
{
	letter-spacing: 2px;
}

#u1594-5
{
	z-index: 14;
	width: 809px;
	min-height: 63px;
	background-color: transparent;
	line-height: 240px;
	font-family: pt-sans-caption, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 329px;
}

#u1594
{
	letter-spacing: -7px;
}

#u1731-4
{
	z-index: 21;
	width: 83px;
	min-height: 88px;
	border-width: 0px;
	border-color: transparent;
	text-align: center;
	line-height: 240px;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 568px;
	left: 0.61%;
}

#u1731-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.5), inset 0px 0px 4px rgba(0,0,0,0.5);
}

#u1731-4:hover
{
	border-style: solid;
	border-width: 4px;
	border-color: #C9D3B3;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 79px;
	margin: 566px -10002px -2px -0.20325203252032523%;
}

#u1731-4:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -4px;
	left: -4px;
	bottom: -4px;
	right: -4px;
	box-shadow: inset 0px 0px 4px rgba(0,0,0,0.5), inset 0px 0px 4px rgba(0,0,0,0.5);
}

#u1731-2
{
	color: #000000;
	font-family: pt-sans-caption, sans-serif;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1731
{
	line-height: 96px;
}

#u2216-4
{
	z-index: 31;
	width: 82px;
	min-height: 63px;
	background-color: transparent;
	line-height: 240px;
	font-family: pt-sans-caption, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
}

#u2216-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u2216
{
	font-size: 150px;
	line-height: 180px;
}

#u2219-4
{
	z-index: 35;
	width: 536px;
	min-height: 97px;
	background-color: transparent;
	color: #A3E82E;
	line-height: 120px;
	font-size: 100px;
	font-family: pt-sans-caption, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 31.2%;
}

#u2224-4
{
	z-index: 39;
	width: 677px;
	min-height: 97px;
	background-color: transparent;
	color: #A3E82E;
	line-height: 120px;
	font-size: 100px;
	font-family: pt-sans-caption, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 534px;
	left: 31.2%;
}

#u1589
{
	z-index: 5;
	width: 1920px;
	height: 70px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	position: relative;
	margin-right: -10000px;
	background: #000000 url("../images/colorfill1.jpg?crc=389189663") no-repeat center top;
	background-size: cover;
}

#u1591
{
	z-index: 19;
	width: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 19.02%;
}

#u1591:hover
{
	border-style: solid;
	border-width: 3px;
	border-color: #C9D3B3;
	width: 61px;
	min-height: 0px;
	margin: 64px -10003px -3px -0.15625%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 1116px);
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u216,#u216-bw
{
	z-index: 2;
	height: 111px;
}

.html
{
	background: #000000 url("../images/colorfill1.jpg?crc=389189663") no-repeat center top scroll;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 320px;
}

.verticalspacer
{
	min-height: 1px;
}

